#article-header {
	.nav-link {
		font-size: 17px;
		margin-right: 20px;
	}

  .fa {
    color: $main-color;
  }
}

.bordered-image {
	border-radius: 10px;
}

#articles-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 50px;

  li {
    padding: 10px 0;

    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 15px;
		box-shadow: 5px 5px 5px #eee;
  }

  .fa {
    color: $main-color;
  }
}

.article-link {
  color: #000 !important;

  &:hover {
    text-decoration: none;
  }
}

.articles-container {
  .page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
  }

  .published-in {
    color: #ccc;
    font-size: 12px;
  }

  .centralized {
    margin: 0 auto;
  }

  .page-link {
    color: $main-color
  }
}

.copyright-reference {
  color: $main-color;
}
