<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-1 wow animated fadeInLeft">
        <div class="welcome-block">
          <h3>Bem vindo à Mungazi</h3>
          <div class="message-body">
            <div class="owner pull-left" alt="Omana"></div>
            <p>
              Nossa missão é ter como prioridade as pessoas mais suscetíveis à uma vulnerabilidade, como mulheres e crianças, com o objetivo de acompanhá-los na construção de um futuro melhor, oferecendo soluções relevantes para suas necessidades específicas, como a reintegração na sociedade e ingresso no mercado de trabalho.
            </p>
          </div>
          <%= link_to 'Todos os eventos', events_path, class: 'btn btn-border btn-effect pull-right' %>
        </div>
      </div>

      <div class="col-md-4 wow animated fadeInRight">
        <%= render 'events', events: events %>
      </div>
    </div>
  </div>
</section>
