<section id="contact">
  <div class="container">
    <div class="row">

      <div class="sec-title text-center wow animated fadeInDown">
        <h2>Contato</h2>
        <p>Se tiver dúvidas ou sugestões, entre em contato conosco</p>
      </div>

      <div class="col-md-7 contact-form wow animated fadeInLeft">
        <form action="#" method="post">
          <div class="input-field">
            <input type="text" name="name" class="form-control" placeholder="Nome completo">
          </div>
          <div class="input-field">
            <input type="email" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="input-field">
            <input type="text" name="subject" class="form-control" placeholder="Assunto">
          </div>
          <div class="input-field">
            <textarea name="message" class="form-control" placeholder="Sua mensagem"></textarea>
          </div>
          <button type="submit" id="submit" class="btn btn-blue btn-effect">Enviar</button>
        </form>
      </div>

      <div class="col-md-5 wow animated fadeInRight">
        <address class="contact-details">
          <h3>Endereço</h3>
          <p>
            <i class="fa fa-pencil"></i>Mungazi
            <span>CEP 03531-020</span>
            <span>Rua Gregório de Souza, 128 - Vila Matilde</span>
            <span>São Paulo</span>
          </p><br>
          <p>
            <i class="fa fa-phone"></i>Telefone: (11) 95893-3278
          </p>
          <p>
            <i class="fa fa-envelope"></i>mungaziong@gmail.com</p>
        </address>
      </div>

    </div>
  </div>
</section>
