<section id="price">
  <div class="container">
    <div class="row">

      <div class="sec-title text-center wow animated fadeInDown">
        <h2>Eventos</h2>
        <p>Saiba mais sobre nossos próximos eventos</p>
      </div>

      <%
        events = [
          {
            url: 'https://www.facebook.com/events/159017921548873/',
            title: 'Da África para o mundo',
            subtitle: 'Bate-papo com Prof. Omana Ngandu',
            date: Date.parse('2018-02-23')
          },
          {
            url: 'https://www.facebook.com/events/134781753902276/',
            title: 'Natal Solidário na Mungazi',
            subtitle: '',
            date: Date.parse('2017-12-16')
          },
          {
            url: 'https://www.facebook.com/events/1364640430300505/',
            title: 'Festa: Somos todos Crianças',
            subtitle: '',
            date: Date.parse('2017-9-14')
          },

        ]
      %>

      <% events.take(3).each do |event| %>
        <div class="col-md-4 col-sd-12 wow animated fadeInUp">
          <div class="price-table text-center">
            <span><%= event[:title] %></span>
            <div class="value">
              <p>
                <span><%= event[:subtitle] %></span>
              </p>
              <p>&nbsp;</p>
              <p>
                <span><%= event[:date].strftime('%d/%m/%Y') %></span>
              </p>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>
