<section id="portfolio">
  <div class="container">
    <div class="row">

      <div class="sec-title text-center wow animated fadeInDown">
        <h2>Works</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed sapien quis quam faucibus sagittis.</p>
      </div>

      <ul class="project-wrapper wow animated fadeInUp">
        <li class="portfolio-item">
          <img src="img/portfolio/item.jpg" class="img-responsive" alt="Nulla sed sapien quis quam faucibus sagittis.Nulla sed sapien quis quam faucibus sagittis.">
          <figcaption class="mask">
            <h3>Lorem ipsum</h3>
            <p>Nulla sed sapien quis quam faucibus sagittis.
            </p>
          </figcaption>
          <ul class="external">
            <li>
              <a class="fancybox" title="Lorem ipsum" data-fancybox-group="works" href="img/portfolio/item.jpg">
                <i class="fa fa-search-plus"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-share"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="portfolio-item">
          <img src="img/portfolio/item2.jpg" class="img-responsive" alt="Nulla sed sapien quis quam faucibus sagittis. Nulla sed sapien quis quam faucibus sagittis. ">
          <figcaption class="mask">
            <h3>Dolor sit</h3>
            <p>Nulla sed sapien quis quam faucibus sagittis.
            </p>
          </figcaption>
          <ul class="external">
            <li>
              <a class="fancybox" title="Dolor sit" href="img/slider/banner.jpg" data-fancybox-group="works">
                <i class="fa fa-search-plus"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-share"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="portfolio-item">
          <img src="img/portfolio/item3.jpg" class="img-responsive" alt="Nulla sed sapien quis quam faucibus sagittis.Nulla sed sapien quis quam faucibus sagittis.">
          <figcaption class="mask">
            <h3>Amet consectetur</h3>
            <p>Nulla sed sapien quis quam faucibus sagittis.
            </p>
          </figcaption>
          <ul class="external">
            <li>
              <a class="fancybox" title="Amet consectetur" data-fancybox-group="works" href="img/portfolio/item3.jpg">
                <i class="fa fa-search-plus"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-share"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="portfolio-item">
          <img src="img/portfolio/item4.jpg" class="img-responsive" alt="Nulla sed sapien quis quam faucibus sagittis.Nulla sed sapien quis quam faucibus sagittis.">
          <figcaption class="mask">
            <h3>Nulla sed sapien</h3>
            <p>Nulla sed sapien quis quam faucibus sagittis.
            </p>
          </figcaption>
          <ul class="external">
            <li>
              <a class="fancybox" title="Nulla sed sapien" data-fancybox-group="works" href="img/portfolio/item4.jpg">
                <i class="fa fa-search-plus"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-share"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="portfolio-item">
          <img src="img/portfolio/item5.jpg" class="img-responsive" alt="Nulla sed sapien quis quam faucibus sagittis. Nulla sed sapien quis quam faucibus sagittis. ">
          <figcaption class="mask">
            <h3>Quis quam faucibus</h3>
            <p>Nulla sed sapien quis quam faucibus sagittis.
            </p>
          </figcaption>
          <ul class="external">
            <li>
              <a class="fancybox" title="Quis quam faucibus" data-fancybox-group="works" href="img/portfolio/item5.jpg">
                <i class="fa fa-search-plus"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-share"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="portfolio-item">
          <img src="img/portfolio/item6.jpg" class="img-responsive" alt="Nulla sed sapien quis quam faucibus sagittis. Nulla sed sapien quis quam faucibus sagittis. ">
          <figcaption class="mask">
            <h3>Faucibus sagittis</h3>
            <p>Nulla sed sapien quis quam faucibus sagittis.
            </p>
          </figcaption>
          <ul class="external">
            <li>
              <a class="fancybox" title="Faucibus sagittis" data-fancybox-group="works" href="img/portfolio/item6.jpg">
                <i class="fa fa-search-plus"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-share"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</section>
