<section id="price">
  <div class="container">
    <div class="row">

      <div class="sec-title text-center wow animated fadeInDown">
        <h2>Products</h2>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="col-md-4 wow animated fadeInUp">
        <div class="price-table text-center">
          <span>Starter</span>
          <div class="value">
            <span>$</span>
            <span>16</span><br>
            <span>month</span>
          </div>
          <ul>
            <li>1 Website</li>
            <li>Up to 5 pages</li>
            <li>Unique design</li>
            <li>No frameworks</li>
            <li>
              <a href="#">Order</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
        <div class="price-table featured text-center">
          <span>Business</span>
          <div class="value">
            <span>$</span>
            <span>24</span><br>
            <span>month</span>
          </div>
          <ul>
            <li>2 Websites</li>
            <li>Up to 7 pages</li>
            <li>24/7 Support</li>
            <li>Clean and unique design</li>
            <li>
              <a href="#">Order</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
        <div class="price-table text-center">
          <span>Enterprise</span>
          <div class="value">
            <span>$</span>
            <span>50</span><br>
            <span>month</span>
          </div>
          <ul>
            <li>5 Websites</li>
            <li>Unlimited pages</li>
            <li>24/7 Support</li>
            <li>Frameworks used</li>
            <li>
              <a href="#">Order</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
