<div class="recent-works">
  <h3>Eventos recentes</h3>

  <div id="works">
    <%
      events = [
        {
          url: 'https://www.facebook.com/events/159017921548873/',
          title: 'Da África para o mundo',
          subtitle: 'Bate-papo com Prof. Omana Ngandu',
          date: DateTime.parse('2018-02-23 17:15:00'),
          description: 'Na condição de refugiado, o Prof. Omana Ngandu irá abordar a situação dos que chegam ao Brasil, como são recebidas e tratadas essas pessoas e a diferença entre refugiados e imigrantes. Em 2015, Omana criou a Mungazi, uma organização apartidária e laica, que visa prestar apoio aos refugiados na sua adaptação a uma nova realidade, sem distinção étnica, política, ideológica ou religiosa.
            No Auditório. 202 lugares. Retirada de ingressos com 1h de antecedência.'
        },
        {
          url: 'https://www.facebook.com/events/134781753902276/',
          title: 'Natal Solidário na Mungazi',
          subtitle: '',
          date: DateTime.parse('2017-12-16 11:00'),
          description: 'Olá, Amigos da Mungazi!
            No dia 16 de Dezembro das 11h às 17h, realizaremos uma festa muito especial de final de ano: O Natal Solidário na Mungazi!

            Faça parte desta festa!'
        },
        {
          url: 'https://www.facebook.com/events/1364640430300505/',
          title: 'Festa: Somos todos Crianças',
          subtitle: '',
          date: DateTime.parse('2017-9-14 12:30'),
          description: 'O Dia das Crianças é comemorado no Brasil em 12 de outubro,
            Vamos organizar em 14 de outubro o dia das crianças refugiadas! Serviremos um almoço com pratos da gastronomia africana.'
        },
      ]
    %>

    <% events.take(3).each do |event| %>
      <div class="work-item">
        <p class="work-title"><%= event[:title] %></p>
        <p><%= event[:subtitle] %></p>
        <p>&nbsp;</p>
        <p>
          <%= raw event[:description].to_s.gsub("\n", "<br /><br />") %>
        </p>
        <p>&nbsp;</p>
        <p>
          <span><%= event[:date].strftime('%d/%m/%Y %H:%M') %></span>
        </p>
      </div>
    <% end %>
  </div>
</div>
