<section id="service">
  <div class="container">
    <div class="row">

      <div class="sec-title text-center">
        <h2 class="wow animated bounceInLeft">Services</h2>
        <p class="wow animated bounceInRight">Lorem ipsum dolor sit amet</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-headphones fa-3x"></i>
          </div>
          <h3>24/7 Support</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-database fa-3x"></i>
          </div>
          <h3>Powerful Database</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-usd fa-3x"></i>
          </div>
          <h3>Low pricing, High quality</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-lock fa-3x"></i>
          </div>

          <h3>Highly secure</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
