<section id="service">
  <div class="container">
    <div class="row">
      <div class="sec-title text-center">
        <h2 class="wow animated bounceInLeft">Serviços</h2>
        <p class="wow animated bounceInRight">O que temos a oferecer</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-headphones fa-3x"></i>
          </div>
          <h3>Suporte</h3>
          <p>
            Apoio aos refugiados na sua adaptação a uma nova realidade
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-language fa-3x"></i>
          </div>
          <h3>Cursos</h3>
          <p>
            Oferecemos cursos de Francês, Inglês e Suaíli
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-heartbeat fa-3x"></i>
          </div>
          <h3>Cultura</h3>
          <p>
            Conheça um pocuo da cultura africana
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-cutlery fa-3x"></i>
          </div>

          <h3>Gastronomia</h3>
          <p>
            Aprenda a deliciosa gastronomia da África
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
