<section id="testimonials" class="parallax">
  <div class="overlay">
    <div class="container">
      <div class="row">

        <div class="sec-title text-center white wow animated fadeInDown">
          <h2>Seu apoio é sempre bem-vindo</h2>
        </div>

        <div id="testimonial" class=" wow animated fadeInUp">
          <div class="testimonial-item text-center">
            <div class="donation"></div>
            <!-- <img src="img/member-1.jpg" alt="Our Clients"> -->
            <div class="clearfix">
              <span>Faça parte da família Mungazi</span>
              <p>
                Aceitamos todos os tipos de doações para adultos e crianças (em bom estado, limpos e conservados) tais como; roupas, sapatos, cobertores, produtos de higiene pessoal, alimentos não perecíveis, brinquedos, materiais didáticos, fraldas, acessório, etc.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
