<section id="testimonials" class="parallax">
  <div class="overlay">
    <div class="container">
      <div class="row">

        <div class="sec-title text-center white wow animated fadeInDown">
          <h2>Testimonials</h2>
        </div>

        <div id="testimonial" class=" wow animated fadeInUp">
          <div class="testimonial-item text-center">
            <img src="img/member-1.jpg" alt="Our Clients">
            <div class="clearfix">
              <span>Kate Rover</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed sapien quis quam faucibus sagittis. Nulla a auctor enim. Aenean convallis condimentum ante. Nulla porttitor, libero non sollicitudin cursus, risus velit rutrum lorem, vel consequat
                odio diam vitae elit.</p>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img src="img/member-1.jpg" alt="Our Clients">
            <div class="clearfix">
              <span>John Doe</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed sapien quis quam faucibus sagittis. Nulla a auctor enim. Aenean convallis condimentum ante. Nulla porttitor, libero non sollicitudin cursus, risus velit rutrum lorem, vel consequat
                odio diam vitae elit.</p>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img src="img/member-1.jpg" alt="Our Clients">
            <div class="clearfix">
              <span>Jack Doe</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed sapien quis quam faucibus sagittis. Nulla a auctor enim. Aenean convallis condimentum ante. Nulla porttitor, libero non sollicitudin cursus, risus velit rutrum lorem, vel consequat
                odio diam vitae elit.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
